@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Use manual selector instead of media query for dark theme. */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Hide elements with x-cloak attribute.
* This is useful for Alpine.js components that should not be visible before Alpine.js is initialized.
*/
[x-cloak] { display: none !important; }

/**
 * Custom breakpoint for `sm:` to accommodate budget tablets with typical CSS widths of ~600px.
 * Tailwind CSS default `sm:` breakpoint is 640px.
 */
@theme {
    --breakpoint-sm: 480px
}